.boxes() {
	width: 50%;
	height: 20%;
	border: 2px black solid;
	border-radius: 40px;
	padding-left: 2%;
}

.font() {
	font-size: 1.1rem;
	font-family: 'Rubik', sans-serif;
}

h1 {
	font-size: 3em;
	font-family: "Lobster", cursive;
}
h2 {
	font-size: 2em;
	font-family: 'Yeseva One', cursive;
}

h3 {
	font-size: 1.5em;
	font-family: 'Yeseva One', cursive;
}

p {
	.font;
}

ul {
	.font;
}

.top-section {
	.boxes;
	background-color: #FF003C;
}

.image {
	display: flex;
}

.education {
	.boxes;
	background-color: #FF8A00;
}

.experience {
	.boxes;
	background-color: #FABE28;
	.company1 {
		display: block;
	}
}

.skills {
	background-color: #88C100;
	.boxes;
}

.contact {
	background-color: #00C176;
	.boxes;
}